BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
ContinuationIndentWidth: 8
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements

ReflowComments: true

BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyReturnTypeOnItsOwnLine: 200

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^/]+>$'
    Priority: 1
  - Regex: '^<.*/.*>$'
    Priority: 2
  - Regex: '^"[^/]+\\.(h|hpp)"$'
    Priority: 3
  - Regex: '^".*/.*"$'
    Priority: 4

NamespaceIndentation: None
FixNamespaceComments: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: false
